#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

input {
  margin-left: 1rem;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.tax-form-error {
  color: red;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.submit-button {
  width: fit-content;
}